@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-colour: #09090b;
  --background-colour: #f0f0f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-colour: #f0f0f5;
    --background-colour: #09090b;
  }
}

body {
  color: var(--foreground-colour);
  background: var(--background-colour);
}
